

<div>
    <h2>Användarnamn</h2>

    <div>
        <h3>Lite statistik</h3>
        <p>Dojanstreak</p>
        <p>Poäng</p>
    </div>

    <div>
        <h3>Lista med bilder</h3>
        <ul>
            <li>Bild</li>
            <li>Bild</li>
            <li>Bild</li>
        </ul>
    </div>

    
</div>