@model GameOfDojan.Models.ApplicationUser

<h3>@Model.UserName</h3>

<div>
    <h4>Användarens bilder</h4>
    <p>@Model.UserName  har @Model.Points poäng!</p>
    <div>
        @foreach (var item in Model.ShoePicsList)
        {
            <div class="gallery">
                <a asp-area="" asp-action="">
                    <img src="@item.ImageSource" />
                </a>
            </div>
        }
        </div>
    </div>

