@model GameOfDojan.Models.HomePage




@{
    ViewData["Title"] = "Home Page";
}

<figure class="full-width">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="logo_text" src="~/Logo/biggerlogotext.png" />
            <p class="lead"></p>
        </div>
    </div>
</figure>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text"><b>Topplista</b><br /></p>
                        @foreach (var item in Model.User)
                        {
                        <p>@item.UserName med @item.Points poäng</p>
                        }
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="ChangePageToOmOss()">Gå dit</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text"><b>Veckans bilder</b><br /></p>
                        <div class="d-flex justify-content-between align-items-center">
                            @foreach (var item in Model.ShoePic)
                            {
                                <img src="@item.ImageSource" />
                                <p> @item.ImageSource</p>

                            }
                            <div class="btn-group">

                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="ChangePage()">Gå dit</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text"><b>Trams</b><br /></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="ChangePage()">Gå dit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Myrorna tar över <span class="text-muted">Tro det eller ej.</span></h2>
                <p class="lead"> commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Myrorna samarbetar superbra<span class="text-muted"> Kolla på bilden bara</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
            </div>
        </div>

    </div>
</div>
