@model ShoePic

<script>
    window.onload = function () {
        previewImage();
    };
</script>
<div class="text-center">
    <h1><b>Testa din sko!</b></h1>

    <div>
        <form method="post" enctype="multipart/form-data" asp-action="UploadPic" >
            <div class="form-group">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="">
                    <p>
                        Endast formaten .jpg och .png tillåts. Bilden får inte vara större än 4mb.
                    </p>
                    
                        <input onchange="ValidateUploadType()" value="Välj fil" type="file" accept="image/*" id="uploadImage" name="files" class="file_input"  />
                    <div id="errorMsg" class="text-danger">

                    </div>
                    <span asp-validation-for="ImageSource" class="text-danger "></span>
                    <div id="result" class="uploadPreview">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Lägg upp" />
                </div>
            </div>
        </form>

    </div>
</div>