@model ShoePic



<h1>Game Of Dojan</h1>

<div>
    <form method="post" enctype="multipart/form-data" asp-action="UploadPic">
        <div class="form-group">
            <div class="">
                <p><b>Testa din sko</b><br />
                Endast formaten .jpg och .png tillåts. Bilden får inte vara större än 4mb.
                </p>
                <input type="file" id="uploadImage" name="files" class="file_input" multiple />
                <div id="result" class="uploadPreview">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" value="Lägg upp" />
            </div>
        </div>
    </form>

</div>
