



<h1>Game Of Dojan</h1>

<form action="" method="post" enctype="multipart/form-data">
        <label for="Image">Lägg upp bild</label>
        <input type="file" name="Image" />
        <br />
        <input type="submit" value="Upload" />

</form>
